## Import libraries

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Merging 12 months of sales data to a single csv file

In [30]:
df = pd.read_csv('./Sales_Data/Sales_April_2019.csv')

files = [file for file in os.listdir('./Sales_Data')]

all_months_data = pd.DataFrame()

for file in files:
    df = pd.read_csv('./Sales_Data/'+file)
    all_months_data = pd.concat([all_months_data, df])

all_months_data.to_csv('all_data.csv', index=False)

In [31]:
all_months_data.sort_values(by=['Order ID'])

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
12567,NaN,NaN,NaN,NaN,NaN,NaN
12640,NaN,NaN,NaN,NaN,NaN,NaN
12659,NaN,NaN,NaN,NaN,NaN,NaN
12732,NaN,NaN,NaN,NaN,NaN,NaN
13352,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
all_months_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [33]:
all_months_data.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
13617,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
13618,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
13619,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
13620,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
13621,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

## Read in updated dataframe

In [34]:
all_data = pd.read_csv('all_data.csv')

all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [35]:
all_data.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186845,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
186846,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
186847,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
186848,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
186849,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

## Cleaning data

In [36]:
# checking missing values
all_data.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [ ]:
# drop NAN rows

nan_df = all_data[all_data.isna().any(axis=1)] # show nan data
nan_df.head()

all_data = all_data.dropna(how='all') # drop nan rows
all_data.head()

In [ ]:
# find 'Or' and delete them
all_data = all_data[all_data['Order Date'].str[0:2] != 'Or']

In [ ]:
# convert columns to correct type

all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'])
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'])

## Adding columns

In [ ]:
# add month column

all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

In [ ]:
# add sales column = price_each * quantity_ordered

all_data['Sales'] = all_data['Price Each'] * all_data['Quantity Ordered']

all_data

In [ ]:
# add state column

all_data['State'] = (all_data['Purchase Address'].str[-8:]).str[:2]
all_data

In [ ]:
# add city columns
def get_city(address):
    return address.split(',')[1]

def get_state(address):
    return address.split(',')[2].split(' ')[1]


all_data['City'] = all_data['Purchase Address'].apply(lambda x: f'{get_city(x)} ({get_state(x)})')
# all_data = all_data.drop(columns = 'Column', inplace = True)
all_data.head(10)

## Analysis

### 1. What was the best month for sales? How much was earned that month?

In [ ]:
results = all_data.groupby('Month').sum()
results

# if only get Qty_ordered and sales: all_data.groupby('Month').sum()[['Quantity Ordered', 'Sales']]

In [ ]:
months = range(1, 13)

plt.plot(months, results['Sales'])
plt.xticks(months)
plt.ylabel('Sales in Million USD ($)')
plt.xlabel('Month')
plt.show()

#### December was the best month for sales. This montn earned 4.6 Million Dollars.

### 2. What city had the highest number of sales?

In [ ]:
results_sorted = all_data.groupby('City').sum()[['Quantity Ordered', 'Sales']].sort_values(['Sales'], ascending = False)
results_sorted

In [ ]:
all_data.groupby(['City']).sum()['Sales'].sort_values(ascending=True).plot.barh(figsize = (10,5))

#### San Francisco had the highest number of sales: 8.3 Million Dollars.

### 3. What time should we display advertisements to maximize the likelihood of customers buying products?

In [ ]:
# convert Order Date to datetime column

all_data['Order Date'] = pd.to_datetime(all_data['Order Date'])

In [ ]:
# add hour, minute, day name columns

all_data['Hour'] = all_data['Order Date'].dt.hour
all_data['Minute'] = all_data['Order Date'].dt.minute
all_data['Weekday'] = all_data['Order Date'].dt.day_name().str[:3]

all_data.head()

In [ ]:
hours = [hour for hour, df in all_data.groupby('Hour')]

plt.plot(hours, all_data.groupby(['Hour']).count())
plt.xticks(hours)
plt.xlabel('Hour')
plt.ylabel('Number of Orders')
plt.grid()

plt.show()

In [ ]:
# Recommendation: around 12PM and 7PM

In [ ]:
restr_data = all_data.groupby(['Hour', 'Weekday']).mean()['Sales'].unstack() # mean is wrong, correct is sum
restr_data = restr_data[['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']]

restr_data

In [ ]:
plt.figure(figsize = (10, 10))
sns.heatmap(restr_data, cmap="YlGnBu")

### 4. What products are most often sold together?

In [ ]:
df.info()

In [ ]:
df = all_data[all_data['Order ID'].duplicated(keep=False)]

df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))

df = df[['Order ID', 'Grouped']].drop_duplicates()

df.head(10)

In [ ]:
from itertools import combinations
from collections import Counter

In [ ]:
count = Counter()

for row in df['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2))) # replace 2 to 3 to see different result
    
for i, value in count.most_common(10):
    print(i, value)

### 5. What products sold the most?

In [ ]:
all_data.groupby(['Product']).sum()['Quantity Ordered'].sort_values(ascending=True).plot.barh(figsize = (10,5))

In [ ]:
# product_group = all_data.groupby('Product')
# quantity_ordered = product_group.sum()['Quantity Ordered']

# products = [product for product, df in product_group]

# plt.bar(products, quantity_ordered)
# plt.xticks(products, rotation = 'vertical', size = 8)
# plt.ylabel('Quantity Ordered')
# plt.xlabel('Product')
# plt.show()

In [ ]:
prices = all_data.groupby('Product').mean()['Price Each']

fig, ax1 = plt.subplots()

ax2 = ax1.twinx()
ax1.bar(products, quantity_ordered, color = 'g')
ax2.plot(products, prices, color='b')

ax1.set_xticklabels(products, rotation = 'vertical', size = 8)
ax1.set_xlabel('Product')
ax1.set_ylabel('Quantity Ordered', color = 'g')
ax2.set_ylabel('Price ($)', color='b')

plt.show()

#### Thank you for taking a moment to review my project. [Click here](https://bit.ly/giangpham_portfolio) to view more.